body {
    background:  rgb(235, 214, 144);
    color: rgb(37, 37, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    padding: 10em;
}

h1{
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    padding-top: .75em;
    padding-bottom: .25em;
}

p {
    margin: 10;
    text-align: left;
    font-size: 1em;
}

ul {
    list-style: circle;
    list-style-position: inside;
    font-size: 1em;
    line-height: 1.5em;
    box-align: left;
    padding-left: 2em;
}

table {
    text-align: justify;
}

td {
    width: 20%;
}

img {
    width: 35%;
    height: auto;
    padding-left: 2em;
}

.important {
    font-weight: bold;
}

button {
    padding: 1em;
    background-color: rgb(201, 137, 0);
}

#bio {
    text-indent: 3ch;
}