body {
    background:  rgb(235, 214, 144);
    color: rgb(37, 37, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    margin: 10em;
    line-height: 1.25em;
}

h1{
    font-size: 2.5em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .5em;
    padding: 1px;
}

p {
    margin: 10;
    text-align: left;
    font-size: 1em;
}

ul {
    list-style: circle;
    font-size: 1em;
    box-align: left;
    margin-left: 2em;
}

img {
    border-radius: 10%;
    width: 35%;
    height: auto;   
    margin-left: 2px;
    float: right;
 }

ol {
    list-style-type: decimal;
    font-size: 1em;
    line-height: 1.5em;
    box-align: left;
    margin-left: 2em;
}

table {
    text-align: justify;
}

td {
    width: 20%;
    border-left: 2px solid rgb(37, 37, 34);
    padding-left: .25em;
}

.important {
    font-weight: bold;
}

#bio {
    text-indent: 3ch;
}