body {
    background:  rgb(247, 234, 193);
    color: rgb(37, 37, 34);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5em;
    line-height: 1.3em;
}

aside {
    float: right;
    width: 35%;
    margin: 2em;
    padding: 2%;
}

main {
    float: left;
    width: 50%;
    margin: 2em;
    padding: 1em;
}

h1{
    font-size: 2.5em;
    margin: 2px auto;
    display: inline-block;
}

h2{
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .5em;
    padding: 1px;
}

p {
    margin: 10;
    text-align: left;
    font-size: 1em;
}

ul {
    list-style: circle;
    font-size: 1em;
    box-align: left;
    line-height: 1.4em;
    margin-left: 2em;
}

img {
    border-radius: 8%;
    width: 80%;
    height: auto;   
    margin: 10px;
 }

 figure {
     padding: 10px;
 }

ol {
    list-style-type: decimal;
    font-size: 1em;
    line-height: 1.4em;
    box-align: left;
    margin-left: 2em;
}

table {
    text-align: justify;
}

td {
    width: 20%;
    padding-left: .25em;
}

.important {
    font-weight: bold;
}

.previous-job-title{
    font-size: 1.05em;
}

#work-history {
    line-height: 1.6em;
}

#bio {
    text-indent: 3ch;
}

#name-wrapper {
    text-align: center;
}